[Interface]
PrivateKey = {{ wg_server_private }}
ListenPort = {{ tunnel.port }}
Address = {{ tunnel.cloud_ip }}/24

[Peer]
PublicKey = {{ wg_client_public }}
AllowedIPs = {{ tunnel.onprem_ip }}/32, 10.42.0.0/16
